    @media only screen and (max-width: 600px) {
        .navbar{
            
            position: relative;
            padding-bottom: 20px;
        }
        .navbar .shoping{
            display: none;
        }
        .navbar .menu-bar{
            display: flex;
            grid-column: 9/10;
            font-size: 1.5em;
            cursor: pointer;
            padding:0;
            padding-top: 27px;
        }
        .navbar .usd{
            padding: 0;
            padding-top: 30px;
            grid-column: 7/8;
        }
        .navbar .menu{
            display: none;
        }
        
        .navbar .logo{
            padding: 0px;
            padding-top: 15px;
            padding-left: 10px;
            grid-column: 1/6;
        }
    /*Main section-1*/
    .hero .info-content{
        grid-column: 2/10;
        grid-row: 4/6;
        color: #000;}
    .hero h3{
        font-size: 2em;

        
    }
    .hero {
        background-position: center;
        height: 400px;
    }
    /*Main section-2*/
    .section-two{
        padding-top: 0;
        margin-top: 20px;
    }
    .section-two .products-content-one{
        position: absolute;
    }
    .section-two .products-content-two{
        display: block;
        margin-top: 250px;
        position: absolute;
        margin-bottom: 20px;
        margin-left: 0px;
    }
    }