*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


.navbar{
    background-color: rgb(238, 238, 250);
    display:grid;
    grid-template-columns: repeat(9, 1fr);
    color:black;
}
.logo{
    padding-top: 15px;
    width: 150px;
    grid-column: 5/6;
        
}
.navbar .menu{
    display: flex;
    grid-column: 1/4;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar .menu li{
    list-style: none;
}
.navbar .menu a{
    text-decoration: none;
    color: black;
}
.navbar .menu-bar{
    display: none;
}
.navbar .shoping{
    grid-column: 9/10;
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar .usd{
    padding-top: 30px;
    padding-bottom: 30px;
    grid-column: 8/9;
}
/* section-main*/
.hero{
    height: 80vh;
    background: url(../IMG/slider-2.jpg);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.hero .info-content{
    grid-column: 4/8;
    grid-row: 4/6;
    color: #000;
}
.hero h3{
    font-size: 3em;
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
    
}
.hero a{
    justify-content: center;
    margin: auto;
    color: #000;
    font-size: 1em;
}



.section-two{
    height: 300px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    padding-top: 70px;
    padding-bottom: 50px;
}

.section-two .products-content-one{
    width: 500px;
    height: 600px;
    background: url(../IMG/banner-1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    grid-column: 2/6;
   
}
.section-two .products-content-two{
    width: 500px;
    height: 600px;
    margin-left: 20px;
    background: url(../IMG/banner-2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    display: grid;
   grid-column: 6/10;
}
.products-content-one h3{
    margin-left: 10px;
    font-size: 2em;
    color:#008000;
    font-weight: 400;
    margin-bottom: 10px;
    padding-top: 70px;
    
}
.products-content-one p{
    font-size: 0.3em;
    color:#000;
    font-weight: 400;
    margin-bottom: 10px;
    padding-top: 5px;
}
.products-content-two h3{
    margin-left: 10px;
    font-size: 2em;
    color:#008000;
    font-weight: 400;
    margin-bottom: 10px;
    padding-top: 70px;
    
}
.products-content-two p{
    font-size: 0.3em;
    color:#000;
    font-weight: 400;
    margin-bottom: 10px;
    padding-top: 5px;
}

.section-three{
    background-image: url(../IMG/bg-1.jpg);
    background-size: cover;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    padding-top: 70px;
}
.title-section-three h2 {
    background-image: url(../IMG/bg-1.jpg);
    text-align: center;
    font-size: 2em;
    color:#000000;
    font-weight: 400;
   padding-top: 30px;
    margin-top: 30px;
}
.title-section-three p{
    background-image: url(../IMG/bg-1.jpg);
    text-align: center;
    font-size: 1em;
    color:#000;
    font-weight: 400;
    padding-top: 5px;
}
.section-three{
    height: 60vh;
    background-image: url(../IMG/bg-1.jpg);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(32, 1fr);
}
.img-product-one{
    width: 200px;
    height: 200px;
    background: url(../IMG/product-1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    grid-column: 3/6;
   
}
.img-product-two{
    width: 200px;
    height: 200px;
    background: url(../IMG/product-2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    display: grid;
   grid-column: 6/9;
}
.img-product-three{
    width: 200px;
    height: 200px;
    background: url(../IMG/product-3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    display: grid;
   grid-column: 9/12;
}
.img-product-four{
    width: 200px;
    height: 200px;
    background: url(../IMG/product-4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    display: grid;
   grid-column: 12/16;
}
.img-product-one h2{
    width: 50px;
    height: 50px;
    
    justify-content: center;
    font-size: 1.0em;
    border-radius: 50%;
    background: rgb(27, 125, 12);
    color:#fff;
    font-weight: 600;
    
    padding-top: 15px;
    
}
.img-product-three h2{
    width: 50px;
    height: 50px;
    
    justify-content: center;
    font-size: 1.0em;
    border-radius: 50%;
    background: rgb(27, 125, 12);
    color:#fff;
    font-weight: 600;
    
    padding-top: 15px;
    
}
.img-product-one h3{
    grid-row:7/8;
    font-size: 1.0em;
    color:#000;
    font-weight: 400;
    margin-top: 150px;
   
}
.img-product-one h4{
    grid-row: 7/8;
    font-size: 1.0em;
    color:#000;
    font-weight: 400;
    margin-bottom: 100px;
   
}
.img-product-two h3{
    
    font-size: 1.0em;
    color:#000;
    font-weight: 400;
    margin-top: 200px;
   
}
.img-product-two h4{
    grid-row: 7/8;
    font-size: 1.0em;
    color:#000;
    font-weight: 400;
    margin-bottom: 100px;
   
}
.img-product-three h3{
    
    font-size: 1.0em;
    color:#000;
    font-weight: 400;
    margin-top: 150px;
   
}
.img-product-three h4{
    grid-row: 7/8;
    font-size: 1.0em;
    color:#000;
    font-weight: 400;
    margin-bottom: 100px;
   
}
.img-product-four h3{
    
    font-size: 1.0em;
    color:#000;
    font-weight: 400;
    margin-top: 200px;
   
}
.img-product-four h4{
    
    font-size: 1.0em;
    color:#000;
    font-weight: 400;
   
}
/* section four */
.section-four{
    height: 500px;
   
}
.img-plant img{
    width: 100px;
    padding-bottom: 20px;
    display: block;
    margin:auto;
}
#text-one-section-four {
    text-align: center;
    font-size: 1.5em;
    color:#000;
    font-weight: 400;
    padding-left:20%;
    padding-right: 20%;
}
.text-two-section-four{
    padding-top: 30px;
    text-align: center;
    font-size: 0.8em;
    color:#000;
    font-weight: 200;
    padding-left:20%;
    padding-right: 20%;
}
.text-three-section-four{
    padding-top: 10px;
    text-align: center;
    font-size: 0.8em;
    color:rgb(106, 94, 94);
    font-weight: 200;
    padding-left:20%;
    padding-right: 20%;
}